.container {
    display: flex;
    flex-direction: column;
}

article {
    min-height: 50vh;
    width: 100vw;
}

@media (min-width: 1024px) {
    .container {
        flex-direction: row;
    }

    article {
        width: 50vw;
    }
}

.fifty .container {
    display: flex;
    flex-direction: column;
}

.fifty article {
    min-height: 50vh;
    width: 100vw;
}